# POSTGRES
DATABASE_URL="db-url"

# Better Auth
BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL="http://localhost:3000"

# Digital Ocean
DO_SPACES_ACCESS_KEY=""
DO_SPACES_SECRET_KEY=""
DO_SPACES_ENDPOINT_URL=""
DO_SPACES_NAME=""
DO_SPACES_REGION=""

# OPENAI Api Key
OPENAI_API_KEY=""

# Google Gemini API Key
GEMINI_API_KEY=""

# Upstash Vector
UPSTASH_VECTOR_REST_URL=""
UPSTASH_VECTOR_REST_TOKEN=""
